
                        #seite {
            
        }
        
        #kopfbereich {
           
        }

        #inhalt {
            background-color: #FFAD39;
        }

        #steuerung {
            float: right;
            
        }

        #fussbereich {
            clear: both;
        }