<style type="text/css">
.well_darkgrey {
    opacity: 0.9; /* opacity [0-1] */
    -moz-opacity: 0.9; /* opacity [0-1] */
    -webkit-opacity: 0.9; /* opacity [0-1] */
    background: #C6C6C6;
}

.90_percent {
    max-width: 90%;
}

.modal {
    position: fixed;
    top: 3%;
    right: auto;
    bottom: 0;
    left: 5%;
    overflow: hidden;
}

.modal-dialog {
    display: inline-block;
    position: fixed;
    margin: 0;
    width: 90%;
    height: 90%;
    padding: 0;
}

.modal-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
    box-shadow: none;
}

.modal-header {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    padding: 10px;
    border: 0;
}

.modal-title {
    font-size: 2em;
    line-height: 30px;
}

.modal-body {
    position: absolute;
    top: 50px;
    bottom: 60px;
    width: 90%;
    overflow: auto;
}

.modal-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 60px;
    padding: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.btn-sucsess-outline {
    background: #FFFFFF;
    border-color: #5CB85C;
    border-style: solid;
    border-width: 2px;
}

body {
    position: relative;
}

#inhalt {
            background-color: #E2E2E2;
        }

        #steuerung {
            float: right;
            
        }

        #fussbereich {
            clear: both;
        }
</style>