<style type="text/css">

.modal-dialog {
/*    display: inline-block;
    position: fixed;
    margin: 0;*/
    width: 90%;
    height: 90%;
/*    padding: 0;*/
}



/*Classes
** .edums classes define a 
>> Formatdescription: .=class-selector, edums-=namespace, 
    middle-segment=parent, -last segment=name of area
-- Example: .edums-accordion-heading{}
    -> rules with this selector affect labels of the accordion view
     (containing course[x].courseHeadline)
## possible elementselectors: coursedescr, topicdescr;
*/
.edums-content{}
.edums-menu{}
.edums-menu-container{}
.edums-navbar{}
.edums-navbar-brandtab{}
.edums-navbar-topictab{}
.edums-navbar-sonstiges{}
.edums-navbar-agbimpressumdatenschutz{
    float: right;
}
.edums-navbar-locations{
    float: right;
}
.edums-infocore{}
.edums-infocore-tabpanels{
    min-width:300px;
}
.edums-tabpanels-tabcontent{}
.edums-tabcontent-brandpanel{}
.edums-tabcontent-topicpanel{}
.edums-tabcontent-topicdescription{}
.edums-tabcontent-topicimage{}
.edums-tabcontent-panelcontainer{}
.edums-panelcontainer-accordion{}
.edums-accordion{}
.edums-accordion-heading{}
.edums-accordion-collapse{
    overflow-x: auto;    
}
.edums-collapse-panelbody{
    min-width: 320px;
    overflow-x: auto;    
}
.edums-collapse-navtabs{
    overflow-x: auto;    
}
.edums-panelbody-pricetable{
    width: 80%;
}
.edums-panelbody-eventtable{
    width: 80%;
}
.edums-topicpanel-footer{}
.edums-tabpanels-location{}
.edums-location-descriptiongroup{}
.edums-tabpanels-sonstiges{}
.edums-sonstiges-group{}
.edums-sonstiges-panel{}
.edums-infocore-sidebar{
    min-width:300px;
}
.edums-ta-btnagbmodal, .edums-ta-btndatenschutzmodal{
    margin-bottom: 5px; 
    margin-top: 5px; 
    color: #428bca;
    background-color: transparent;
    border-color: currentcolor;
    border-width:2px;
    transition: all .5s;
    border-width: 2px;
    border-radius: 10px;
    border-color: #428bca;
}
.edums-infocore-btnta{
     min-width:200px;
    margin-bottom: 15px; 
    width:100%;
    color: #428bca;
    background-color: transparent;
    border-color: currentcolor;
    border-width:2px;
    transition: all .5s;
    border-width: 2px;
    border-radius: 10px;
    border-color: #428bca;      
}

.edums-infocore-btnta:hover {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

.edums-btnta-icon{}
.edums-sidebar-sidebarpanels{}
.edums-sidebarpanels-allevents{}
.edums-allevents-event{}
.edums-event-content{
    text-align: left;
}
.edums-event-content{}
.edums-event-date{}
.edums-event-name{}
.edums-event-btnreserve{
    margin-top: 15px; 
    background-color: transparent;
    color: #428bca;
    transition: all .5s;
    border-width: 2px;
    border-radius: 10px;
    border-color: #428bca;      
}

.edums-event-btnreserve:hover {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

.edums-event-garantie{
    float:left;
     margin: 5px 0px 5px 5px;
}
.edums-event-waitlist{
    float:left;
     margin: 5px 0px  5px 5px;
}
.edums-event-none{
    float:left;
    margin: 5px 0px  5px 5px;
}
.edums-event-onefree{
    float:left;
    margin: 5px 0px  5px 5px;

}
.edums-event-threefree{
    float:left;
    margin: 5px 0px  5px 5px;
     
}
.edums-event-btnregform{
    width: 100%;
}
.edums-sideregform{
    margin-left: 0px;
    padding-left:1px;
}
.edums-sideregform-body{
    margin-top: 10px; 
}
.edums-sideregform-partitionertext{
    text-align:left;
    min-width: 100px;
    margin-top: 10px; 
}
.edums-sideregform-partitionernumber{
    align:right;
    min-width: 50px;
    margin-right: 0px;
    padding-right:1px;
}
.edums-sideregform-partitionernumberarrows{}
.edums-sideregform-email{
    margin-top: 10px; 
}
.edums-sideregform-btnta{
    margin-top: 10px; 
}
.edums-sideregform-btnreserve{
    margin-top: 6px;
}

.edums-sidebarpanels-topicevents{}
.edums-topicevents-event{}
.edums-footer{}



.edums-tamodal{}
.edums-tamodal-partitioneramount{
    min-width: 40px
}
.edums-tamodal-tacontent{
    overflow-x: auto;    
}
.edums-tacontent-btnclose{}
.edums-tacontent{}
.edums-tacontent-headrow1{}
.edums-tacontent-headrow2{}
.edums-tacontent-tabody{}
.edums-tabody{}
.edums-tabody-left{
    overflow-x: auto;    
}
.edums-tabody-searchgroup{
    margin-bottom: 2px;
    width: 99% ;
}
.edums-searchgroup-inputfield{
    min-width:280px;
}
.edums-tabody-tatable{
    width: 98%;
    overflow-y: scroll;
}
.edums-tatable-head{
    overflow-y: scroll;
    min-width:310px;
}
.edums-tatable-coursename{
    min-width: 170px;
}
.edums-tatable-body{
    overflow-y: scroll;
}
.edums-tacontent-tareserve{
    min-width:310px;
    overflow-x: auto;    
}
.edums-tareserve{}
.edums-tareserve-taformgroup{}
.edums-taformgroup{
    margin-top: 15px;
}
.edums-taformgroup-tapicklist{}
.edums-tapicklist-info{}
.edums-tapicklist-exam{}
.edums-tapicklist-course{}
.edums-taformgroup{}
.edums-taformgroup-participants{
    /*min-width:260px;*/
}
.edums-taformgroup-email{
    margin-top: 10px; 
    margin-bottom: 5px; 
}
.edums-taformgroup-registrationAcceptanceText{
    margin-left: 15px;
}
.edums-taformgroup-btnreserve{
    margin-top: 6px;
    width: 85%;
}
.edums-taformgroup-icon{
    color:#fff;
}
.edums-taformgroup-agb{
     margin-top: 6px;
}
.edums-taformgroup-datenschutz{}
.edums-tamodal-tafooter{}
.edums-tafooter-btnclose{
    margin-top: 3px;
    width: 85%;
}
.edums-tafooter-btnclose-btn{
    width: 100%;
}
.edums-tafooter-btnreservate{
    width: 90%;
}
.edums-finishmodal{
    top:10%;
    width: 100%;
    min-height:550px;
    height: 66%;
}
.edums-finishmodal-btnclose{
    right: 0px;
}
.edums-finishmodal-body{}
.edums-finishmodal-footer{}
.edums-finishmodal-btnreserve{} 
.edums-finishmodal-content{
    overflow-y: scroll;
} 
.edums-finishmodal-positivetext{
    font-size : 14px;
} 
.edums-finishmodal-negativetext{
    font-size : 14px;
}




.edums-agbmodal{}
.edums-agbmodal-content{
    top:5%;
    left:10%;
    width: 80%;
    min-height:200px;
    height: 90%;
    overflow-y: scroll;
}
.edums-agbmodal-btnclose{
    right: 0px;
    margin-top: 3px;
}
.edums-agbmodal-footer{}




.edums-datenschutzmodal{}
.edums-datenschutzmodal-content{
    top:5%;
    left:10%;
    width: 80%;
    min-height:200px;
    height: 90%;
    overflow-y: scroll;
}
.edums-datenschutzmodal-btnclose{
    right: 0px;
    margin-top: 3px;
}
.edums-datenschutzmodal-footer{}


.edums-partitionernumber{
    margin-top: 4px;
}


.edums-agbimpressumdatenschutz-panel{}
/*special classes*/
.edums-warning{
    color:#f6766d;
}
.edums-accordion-element{
    overflow-x: auto;
    width: 100%;
}
.edums-guaranteelabel{
    width: 90%;
}

/**ID´s:
** Specific elements in repeating ng-repeat lists can be edited by ID.
>> Formatdescription: #=ID-selector, name=elementselector, number=ID-key -> #namenumber
-- Example: #coursedesc1{} 
    -> rules with this selector affect only the description field from 
     the course with 'course[x].course_id = 1'
## possible elementselectors: coursedescr, topicdescr;
*/
#coursedescr43{}
#topicdescr2{}

@media only screen and (max-width: 400px) { 
  #edums-tacontent-hr2 { 
    display: none; 
  } 
}
</style>
