<style type="text/css">
/*

*/
.modal {
    position: fixed;
    top: 3%;
    right: auto;
    bottom: 0;
    left: 5%;
    overflow: hidden;
}


.modal-dialog {
    display: inline-block;
    position: fixed;
    margin: 0;
    width: 90%;
    height: 90%;
    padding: 0;
}

.modal-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
    box-shadow: none;
}

.modal-header {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    padding: 10px;
    border: 0;
}

.modal-title {
    font-size: 2em;
    line-height: 30px;
}

.modal-body {
    position: absolute;
    top: 50px;
    bottom: 60px;
    width: 90%;
    overflow: auto;
}

.modal-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 60px;
    padding: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

body {
    position: relative;
}

.event{
    z-index: 2;
    color: #000;
    background-color: #FFF;
    border-color: grey;
}

.container-fluid {
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
}
/*Classes
** .edums classes define a 
>> Formatdescription: .=class-selector, edums-=namespace, 
    middle-segment=parent, -last segment=name of area
-- Example: .edums-accordion-heading{}
    -> rules with this selector affect labels of the accordion view
     (containing course[x].courseHeadline)
## possible elementselectors: coursedescr, topicdescr;
*/
.edums-content{}
.edums-menu{}
.edums-menu-container{}
.edums-navbar{}
.edums-navbar-brandtab{}
.edums-navbar-topictab{}
.edums-navbar-sonstiges{}
.edums-navbar-locations{}
.edums-infocore{}
.edums-infocore-tabpanels{}
.edums-tabpanels-tabcontent{}
.edums-tabcontent-brandpanel{}
.edums-tabcontent-topicpanel{}
.edums-tabcontent-topicdescription{}
.edums-tabcontent-topicimage{}
.edums-tabcontent-panelcontainer{}
.edums-panelcontainer-accordion{}
.edums-accordion{}
.edums-accordion-heading{}
.edums-accordion-collapse{}
.edums-collapse-panelbody{}
.edums-panelbody-pricetable{
    width: 80%;
}
.edums-panelbody-eventtable{
    width: 80%;
}
.edums-topicpanel-footer{}
.edums-tabpanels-location{}
.edums-location-descriptiongroup{}
.edums-tabpanels-sonstiges{}
.edums-sonstiges-group{}
.edums-sonstiges-panel{}
.edums-infocore-sidebar{}
.edums-infocore-btnta{
    margin-bottom: 15px; 
    width:100%;
    color: #428bca;
    background-color: transparent;
    border-color: currentcolor;
    border-width:2px;
    transition: all .5s;
    border-width: 2px;
    border-radius: 10px;
    border-color: #428bca;      }
}

.edums-infocore-btnta:hover {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

.edums-btnta-icon{}
.edums-sidebar-sidebarpanels{}
.edums-sidebarpanels-allevents{}
.edums-allevents-event{}
.edums-event-content{
    text-align: left;
}
.edums-event-content{}
.edums-event-date{}
.edums-event-name{}
.edums-event-btnreserve{
    margin-top: 15px; 
    background-color: transparent;
    color: #428bca;
    transition: all .5s;
    border-width: 2px;
    border-radius: 10px;
    border-color: #428bca;      
}

.edums-event-btnreserve:hover {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

.edums-event-garantie{
     margin: 10px 0px -10px 5px;
     color: #5cb85c;
}
.edums-event-waitlist{
     margin: 10px 0px -10px 5px;
     color: #d9534f;
}
.edums-event-none{
    margin: 10px 0px -10px 5px;
}
.edums-event-onefree{
    margin: 10px 0px -10px 5px;
     color: #fcf8e3;

}
.edums-event-threefree{
    margin: 10px 0px -10px 5px;
     color: #428bca;

}
.edums-event-btnregform{
    width: 100%;
}
.edums-sideregform{}
.edums-sideregform-body{
    margin-top: 10px; 
}
.edums-sideregform-partitionertext{
    text-align:left;
}
.edums-sideregform-partitionernumber{
    align:right;
}
.edums-sideregform-email{
    margin-top: 10px; 
}
.edums-sideregform-btnta{
    margin-top: 10px; 
}
.edums-sideregform-btnreserve{
    margin-top: 6px;
}

.edums-sidebarpanels-topicevents{}
.edums-topicevents-event{}
.edums-footer{}
.edums-tamodal{}
.edums-tamodal-tacontent{}
.edums-tacontent-btnclose{}
.edums-tacontent{}
.edums-tacontent-headrow{}
.edums-tacontent-tabody{}
.edums-tabody{}
.edums-tabody-searchgroup{}
.edums-searchgroup-inputfield{}
.edums-tabody-tatable{
    width: 98%;
}
.edums-tatable-head{}
.edums-tatable-body{}
.edums-tacontent-tareserve{}
.edums-tareserve{}
.edums-tareserve-taformgroup{}
.edums-taformgroup{
    margin-top: 15px;
}
.edums-taformgroup-tapicklist{}
.edums-tapicklist-info{}
.edums-tapicklist-exam{}
.edums-tapicklist-course{}
.edums-taformgroup{}
.edums-taformgroup-participants{}
.edums-taformgroup-email{
    margin-top: 10px; 
}
.edums-taformgroup-btnreserve{
    margin-top: 6px;
}
.edums-taformgroup-icon{
    color:#fff;
}
.edums-tamodal-tafooter{}
.edums-tafooter-btnclose{}
.edums-tafooter-btnreservate{}
.edums-finishmodal{}
.edums-finishmodal-btnclose{}
.edums-finishmodal-body{}
.edums-finishmodal-footer{}
.edums-finishmodal-btnclose{}
.edums-finishmodal-btnreserve{} 
.edums-finishmodal-content{
    margin-top: 10px; 
} 
.edums-finishmodal-positivetext{
    font-size : 14px;
} 
.edums-finishmodal-negativetext{
    font-size : 14px;
} 

/**ID´s:
** Specific elements in repeating ng-repeat lists can be edited by ID.
>> Formatdescription: #=ID-selector, name=elementselector, number=ID-key -> #namenumber
-- Example: #coursedesc1{} 
    -> rules with this selector affect only the description field from 
     the course with 'course[x].course_id = 1'
## possible elementselectors: coursedescr, topicdescr;
*/
#coursedescr43{}
#topicdescr2{}
</style>
